

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
html{
  background:url('../images/mist.jpg');
  background-size:cover;
}
body {
  box-sizing: border-box;

  
  font-size: 16px;
  margin-bottom: 50px
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color:#444444;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}


h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0px;
  margin-bottom: 10px;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
    display: inline;
  padding: 0;
  text-align: center;
  border: none;
}

p img {
  display: inline;
  padding: 0;
  text-align: center;
  border: none;
}
.logo {
border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 1px;
  border: none;
}


pre, code {
  width: auto;
  color: #000;

  background-color:#d3d3d3; 

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width:auto
 
}
#content_parent{
  
   width: auto;
   background-color: #000000;
   padding-right:20px;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
   filter: alpha(opacity=50);
   opacity: 0.7;
   
   overflow:auto;
   height:700px;
 }
.content_background{
  
}

.inner {
  position: relative;
  width:auto;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
 color:#171717;
}

#header_wrap .inner {

  padding: 50px 10px 30px 10px;

}

#project_title {
  margin: 0px 10px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  padding-right: 10px;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}


.rotated {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); 
  -o-transform: rotate(90deg); 
  transition:0.2s;
}
#container1{
  background: url(../img/mist.jpg) no-repeat top left;
  width: auto;

}
#main_content {
  position: relative;
  padding-left: 10px;
  color: #ccc;
  z-index: 20;
}
.sidepanel{
  width:300px;
  margin: 0px;
  font-family: sans-serif;

  float:left;
}
#footer_wrap {
  background: #212121;
  padding-left: 85%;
}

ul#nav1 {
  width: 300px;
}

ul#nav1 li{
  list-style: none;
}
ul#nav1 li a{
  color: #ccc;
  padding-left:10px;
  padding-bottom: 10px;
  padding-top: 10px;
  float: left;
  width: 300px;

  margin-left: 0px;
  font-size: 1em;
  border-bottom: 1px solid #0A0A0A;
  -webkit-transition:0.2s;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.6s;
}

ul#nav1 li a:hover{
  background-color: #030303;
  text-decoration: none;
  padding-left: 30px;
}
ul#nav1 li a.selected{
  background-color: #030303;
  padding-left: 30px;
}
ul#navd li a.selected{
  background-color: #030303;
  padding-left: 30px;
  color: #ccc;
  
}
body.loading{
  overflow: hidden;
}
body.loading .loading1{
  display: block;
}
.loading1 {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}
.dropdown{
  width:100%;
  color: #171717;
}

ul#navd {
  width: 100%;
}

ul#navd li{
  list-style: none;
}
ul#navd li a{
  color: #ffffff;
  float: left;
  display: inline;
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  border-bottom: 1px solid #0A0A0A;
  -webkit-transition:0.2s;
  -moz-transition:0.2s;
  -o-transition:0.2s;
  transition:0.2s;
}
ul#navd li a:hover{
  background-color: #090909;
  color: #ccc;
  text-decoration: none;
  padding-left: 30px;
}
ul#navd li a div img{
  padding-left:10px;
  float: left;
  display: inline;
}
.drop1{
  width:100%;
  display: none;
}
.drop2{
  width:100%;
  display: none;
}
.drop3{
  width: 100%;
  display: none;
}
.drop4{
  width: 100%;
  display: none;
}
.drop5{
  width: 100%;
  display: none;
}
.back{
  background-color: #030303;
  color:#ccc;
  text-decoration: none;
}
#test1 img{
  float: left;
  display: inline;
  padding-right: 100px;
}
#text1 p{
  float:left;
  padding-right: 250px;
  display: inline;
}
iframe#svg-viewer{
  padding-top: 20px;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
